<p-tabView>
  <p-tabPanel header="Edit">
    <app-edit-item></app-edit-item>
  </p-tabPanel>

  <p-tabPanel header="Note">
    <button type="button" class="btn btn-primary"><i class="fa fa-fw fa-sticky-note-o"></i> New</button>
    <hr>
    <accordion>
      <div class='container' [dragula]='"note-bag"' [dragulaModel]='notes'>
        <div *ngFor="let note of notes">
            <app-note-view [note]="note"></app-note-view>
        </div>
      </div>
    </accordion>
  </p-tabPanel>
</p-tabView>
