<p-tabView>
  <p-tabPanel header="Edit">
    <app-edit-item></app-edit-item>
  </p-tabPanel>

  <p-tabPanel header="Note">
    <div *ngIf="notes">
      <button (click)="addNote()" type="button" class="btn btn-primary"><i class="fa fa-fw fa-sticky-note-o"></i> New</button>
      <hr>
      <accordion>
        <div class='container' [dragula]='"note-bag"' [dragulaModel]='notes'>
          <div *ngFor="let note of notes">
            <accordion-group #group>
                <div accordion-heading>
                  <span class="badge badge-pill badge-info">
                    <div class="handle" tooltip="click me to drag notes around!" (click)="$event.stopPropagation()">
                      +
                    </div>
                  </span>
                  <span class="summary">{{note.getSummary()}}</span>
                  <span class="badge float-right pull-right">
                    <button (click)="deleteNote(note)" type="button" class="btn btn-secondary btn-sm hvr-sweep-to-right">
                      <i class="fa fa-fw fa-times"></i>
                    </button>
                  </span>
                </div>
                <app-note-view [note]="note" (changed)="updateNote(note, $event)"></app-note-view>
            </accordion-group>
          </div>
        </div>
      </accordion>
    </div>
  </p-tabPanel>
</p-tabView>
