<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 alert alert-primary">
            <div class="mx-auto">
                <ng-container *ngIf="changeTitle; then editTitle else showTitle"></ng-container>
            </div>

            <ng-template #editTitle>
                <input (keyup.enter)="titleEditDone()" type="text" [(ngModel)]="documentTitle">
                <i (click)="titleEditDone()" class="fa fa-check fa-fw"></i>
            </ng-template>

            <ng-template #showTitle>
                <span>{{documentTitle}}</span>
                <i (click)="titleEditStart()" class="fa fa-pencil fa-fw"></i>
            </ng-template>
        </div>
        <div class="col-sm-5 alert alert-info">

        </div>
        <div class="col-sm-4">
            <div *ngFor="let alert of alerts">
                <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <ng-container *ngTemplateOutlet="board; context: { $implicit: leftBoard$ }"></ng-container>
        </div>
        <div class="col-sm-6">
            <ng-container *ngTemplateOutlet="board; context: { $implicit: rightBoard$ }"></ng-container>
        </div>
    </div>
</div>

<ng-template #board let-board$>
    <div *ngIf="board$ | async as board">
        <div [ngSwitch]="board.type">
            <div *ngSwitchCase="boardType.view">
                <app-view-board
                    [board]="board"
                    [rootBubble]="rootBubble$ | async"
                    [bubbleList]="bubbleList$ | async"
                    [userId]="userId$ | async"
                    [selectedBubbleList]="selectedBubbleList$ | async"
                    [hoverBubbleList]="hoverBubbleList$ | async"
                    [selectedMenu]="selectedMenu$ | async">
                    Your document view board is loading ...
                </app-view-board>
            </div>
            <div *ngSwitchCase="boardType.edit">
                <app-edit-board [board]="board"></app-edit-board>
            </div>
            <div *ngSwitchCase="boardType.suggest">
                <app-sangjun-board
                    [board]="board"
                    [bubble]="sangjunBubble$ | async"
                ></app-sangjun-board>
            </div>
            <div *ngSwitchCase="boardType.filter">
                <app-filter-board [board]="board"></app-filter-board>
            </div>
        </div>
    </div>
</ng-template>

<app-board-manager>
    your board manager is Loading!
</app-board-manager>
