<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="mx-auto">
                <ng-container *ngIf="changeTitle; then editTitle else showTitle"></ng-container>
            </div>

            <ng-template #editTitle>
                <input (keyup.enter)="titleEditDone()" type="text" [(ngModel)]="documentTitle">
                <button class="btn btn-sm btn-default"><i (click)="titleEditDone()" class="fa fa-check fa-fw"></i></button>
            </ng-template>

            <ng-template #showTitle>
                <span>{{documentTitle}}</span>
                <button class="btn btn-sm btn-default"><i (click)="titleEditStart()" class="fa fa-pencil fa-fw"></i></button>
            </ng-template>
        </div>
        <div class="col-sm-6">
            <app-board-manager>
                your board manager is Loading!
            </app-board-manager>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <app-view-board [rootBubble]="rootBubble$ | async"
                            [bubbleList]="bubbleList$ | async"
                            [userId]="userId$ | async"
                            [selectedBubbleList]="selectedBubbleList$ | async"
                            [hoverBubbleList]="hoverBubbleList$ | async"
                            [selectedMenu]="selectedMenu$ | async">
                Your document view board is loading ...
            </app-view-board>
        </div>
        <div class="col-sm-5">

        </div>
    </div>
</div>
