<div *ngIf="menu">
  <div [ngSwitch]="menu">
    <div *ngSwitchCase="menuType.borderTopMenu">
      border top menu
      <button>Create</button>
    </div>
    <div *ngSwitchCase="menuType.borderBottomMenu">
      border bottom menu
      <button>Create</button>
    </div>
    <div *ngSwitchCase="menuType.leafMenu">
      <p>Single Bubble Menu(leaf)</p>
      <button>Split</button>
      <button>Open Sangjun board</button>
      <button>Delete</button>
      <button>Edit</button>
    </div>
    <div *ngSwitchCase="menuType.internalMenu">
      <p>Single Bubble Menu(internal)</p>
      <button>Pop</button>
      <button>Open Sangjun board</button>
      <button>Delete</button>
      <button>Edit</button>
    </div>
    <div *ngSwitchDefault>
      default
    </div>
  </div>
</div>
