<div [ngSwitch]="menu">
    <div *ngSwitchCase="menuType.borderTopMenu">
        <button type="button" class="btn btn-primary btn-sm hvr-icon-bob" (click)="createBubble()">
            Create
        </button>
    </div>

    <div *ngSwitchCase="menuType.borderBottomMenu">
        <button type="button" class="btn btn-primary btn-sm hvr-icon-hang" (click)="createBubble()">
            Create
        </button>
    </div>

    <div *ngSwitchCase="menuType.leafMenu">
        <div class="btn-group" dropdown>
            <button type="button" dropdownToggle class="btn btn-primary btn-sm dropdown-toggle dropdown-toggle-split" appStopClickPropagation>
                <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
                <ng-container *ngIf="!isBeingEditted(bubble)">
                    <li role="menuitem">
                        <a class="dropdown-item" (click)="splitBubble(); " appStopClickPropagation>
                            <i class="fa fa-scissors fa-fw"></i>
                            Split
                        </a>
                    </li>
                    <li role="menuitem">
                    <a class="dropdown-item" (click)="moveBubble(); " appStopClickPropagation>
                        <i class="fa fa-arrows fa-fw"></i>
                        Move
                    </a>
                    </li>
                    <li role="menuitem">
                    <a class="dropdown-item" (click)="mergeBubble(); " appStopClickPropagation>
                        <i class="fa fa-compress fa-fw"></i>
                        Merge
                    </a>
                    </li>
                    <li role="menuitem">
                    <a class="dropdown-item" (click)="editBubble(); " appStopClickPropagation>
                        <i class="fa fa-pencil fa-fw"></i>
                        Edit
                    </a>
                    </li>
                    <li role="menuitem">
                    <a class="dropdown-item"
                        tooltip="There is no going back"
                        placement="left" (click)="deleteBubble(); " appStopClickPropagation>
                        <i class="fa fa-trash fa-fw"></i>
                        Delete
                    </a>
                    </li>
                    <li class="divider dropdown-divider"></li>
                </ng-container>
                <li role="menuitem">
                    <a class="dropdown-item" (click)="wrapBubble(); " appStopClickPropagation>
                    <i class="fa fa-square fa-fw"></i>
                    Wrap
                    </a>
                </li>
            </ul>
            <button type="button" class="btn btn-primary btn-sm" (click)="openSangjunBoard(); " appStopClickPropagation>
                <i class="fa fa-comments fa-fw"></i>
                Suggest
            </button>
        </div>
    </div>

    <div *ngSwitchCase="menuType.internalMenu">
      <div class="btn-group" dropdown>
        <button type="button" dropdownToggle class="btn btn-info btn-sm dropdown-toggle dropdown-toggle-split" appStopClickPropagation>
          <span class="caret"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <ng-container *ngIf="!isBeingEditted(bubble)">
            <li role="menuitem">
              <a class="dropdown-item" (click)="flattenBubble(); " appStopClickPropagation>
                <i class="fa fa-stack-overflow fa-fw"></i>
                Flatten
              </a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" (click)="moveBubble(); " appStopClickPropagation>
                <i class="fa fa-arrows fa-fw"></i>
                Move
              </a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" (click)="editBubble(); " appStopClickPropagation>
                <i class="fa fa-pencil fa-fw"></i>
                Edit
              </a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" (click)="deleteBubble(); " appStopClickPropagation>
              <i class="fa fa-trash fa-fw"></i>
              Delete
              </a>
            </li>
            <li class="divider dropdown-divider"></li>
          </ng-container>
          <li role="menuitem">
            <a class="dropdown-item" (click)="popBubble(); " appStopClickPropagation>
              <i class="fa fa-ellipsis-v fa-fw"></i>
              Pop
            </a>
          </li>
          <li role="menuitem"><a class="dropdown-item" (click)="wrapBubble(); " appStopClickPropagation>
              <i class="fa fa-square fa-fw"></i>
              Wrap
            </a>
          </li>
        </ul>
        <button type="button" class="btn btn-info btn-sm" (click)="openSangjunBoard(); " appStopClickPropagation>
          <i class="fa fa-comments fa-fw"></i>
          Suggest
        </button>
      </div>
    </div>

    <div *ngSwitchDefault>
      Did you click something wrong? try refresh
    </div>
</div>
