<div *ngIf=rootBubble class="jumbotron">
    <ng-container *ngTemplateOutlet="internalBubble; context: { $implicit: rootBubble }">
        Preview is now rendering!
    </ng-container>
</div>


<ng-template #internalBubble let-bubble>
    <ng-container *ngIf="isInternal(bubble); then internal else leaf"></ng-container>

    <!-- internal bubble -->
    <ng-template #internal>
        <ng-container *ngFor="let childId of bubble.childBubbleIds">
            <ng-container *ngTemplateOutlet="internalBubble; context: { $implicit: getBubbleById(childId)}"></ng-container>
        </ng-container>
    </ng-template>

    <!-- leaf bubble -->
    <ng-template #leaf>
        <div class="bubble-show" [innerHTML]="bubble.content"></div>
    </ng-template>
</ng-template>

<ng-template #leafBubble let-bubble>

</ng-template>
