<div *ngIf="rootBubble">
    <ng-container *ngTemplateOutlet="bubbleUnit; context: { $implicit: rootBubble }"></ng-container>
</div>

<div *ngIf="isWrapSelected">
  <button type="button" class="btn btn-primary btn-sm wrap" (click)="wrapSelectedBubbles(); $event.stopPropagation()">
    WRAP!
  </button>
</div>

<ng-template #bubbleUnit let-bubble>
  <div class="bubbleUnit">
    <div *ngIf="isInternal(bubble); then internal else leaf"></div>

    <ng-template #internal>

      <div *ngIf="isMenuOpen(bubble, menuType.internalMenu)">
        <div [ngStyle]="setActionStyle(bubble)" class="action" >
          <app-bubble-menu (action)="bubbleAction($event)" [bubble]="bubble" [menu]="menuType.internalMenu"></app-bubble-menu>
        </div>
      </div>


      <div *ngFor="let childBubble of bubble.childBubbles">
        <div [ngStyle]="setInternalBubbleStyle(childBubble)" class="internalBubble" (click)="showMenuEvent(bubble, menuType.internalMenu, $event); $event.stopPropagation()">
          <ng-container *ngTemplateOutlet="bubbleUnit; context: { $implicit: childBubble }"></ng-container>
        </div>
      </div>

    </ng-template>

    <ng-template #leaf>
      <div class="placeholder placeholder-top" (click)="showMenuEvent(bubble, menuType.borderTopMenu, $event); $event.stopPropagation()">
        <div *ngIf="isMenuOpen(bubble, menuType.borderTopMenu)">
          <div [ngStyle]="setActionStyle(bubble)" class="action" >
            <app-bubble-menu (action)="bubbleAction($event)" [bubble]="bubble" [menu]="menuType.borderTopMenu"></app-bubble-menu>
          </div>
        </div>
      </div>

      <div class="leafBubble" (click)="showMenuEvent(bubble, menuType.leafMenu, $event); $event.stopPropagation()">

        <div *ngIf="isMenuOpen(bubble, menuType.leafMenu)">
          <div [ngStyle]="setActionStyle(bubble)" class="action" >
            <app-bubble-menu (action)="bubbleAction($event)" [bubble]="bubble" [menu]="menuType.leafMenu"></app-bubble-menu>
          </div>
        </div>

        <div [ngStyle]="setLeafBubbleStyle(bubble)" innerHtml="{{bubble.content}}"></div>

      </div>

      <div class="placeholder placeholder-bottom" (click)="showMenuEvent(bubble, menuType.borderBottomMenu, $event); $event.stopPropagation()">
        <div *ngIf="isMenuOpen(bubble, menuType.borderBottomMenu)">
          <div [ngStyle]="setActionStyle(bubble)" class="action" >
            <app-bubble-menu (action)="bubbleAction($event)" [bubble]="bubble" [menu]="menuType.borderBottomMenu"></app-bubble-menu>
          </div>
        </div>
      </div>

    </ng-template>
  </div>
</ng-template>
