<button *ngIf="isWrapSelected()" type="button" class="btn btn-primary btn-sm wrap" appStopClickPropagation (click)="wrapBubble(); ">
  WRAP!
</button>

<div class="bubble-list">
  <div class="ui-g">
    <div class="ui-g-9 ui-md-offset-1 list-group-item">
      <div (appClickOutside)="clearState($event)" *ngIf="rootBubble">
        <ng-container *ngTemplateOutlet="bubbleUnit; context: { $implicit: rootBubble }"></ng-container>
      </div>
    </div>
  </div>
</div>

<!-- recursive unit -->
<ng-template #bubbleUnit let-bubble>
  <div class="bubbleUnit">
    <div *ngIf="isInternal(bubble); then internal else leaf"></div>

    <!-- internal bubble -->
    <ng-template #internal>
      <div *ngIf="isMenuOpen(bubble, menuType.internalMenu)" class="action" >
        <app-bubble-menu [bubble]="bubble" [menu]="menuType.internalMenu"></app-bubble-menu>
      </div>
      <ng-container *ngFor="let childBubble of bubble.childBubbles">
        <div [appInternalBubble]="childBubble" appStopClickPropagation class="internalBubble" (click)="onClickEvent(childBubble, menuType.internalMenu, $event);">
          <!-- recursive call -->
          <ng-container *ngTemplateOutlet="bubbleUnit; context: { $implicit: childBubble }"></ng-container>
        </div>
      </ng-container>
    </ng-template>

    <!-- leaf bubble -->
    <ng-template #leaf>
      <!-- top border -->
      <div class="placeholder placeholder-top" appStopClickPropagation (click)="onClickEvent(bubble, menuType.borderTopMenu, $event);">
        <app-bubble-menu *ngIf="isMenuOpen(bubble, menuType.borderTopMenu)" class="action" [bubble]="bubble" [menu]="menuType.borderTopMenu"></app-bubble-menu>
      </div>

      <!-- leaf bubble content -->
      <div class="leafBubble" appStopClickPropagation (click)="onClickEvent(bubble, menuType.leafMenu, $event);">
        <app-bubble-menu *ngIf="isMenuOpen(bubble, menuType.leafMenu)" class="action"  [bubble]="bubble" [menu]="menuType.leafMenu"></app-bubble-menu>
        <div *ngIf="isBubbleContentShown(bubble); then owner else editLock"></div>
        <ng-template #owner>
          <div [appLeafBubble]="bubble" innerHtml="{{bubble.content}}"></div>
        </ng-template>
        <ng-template #editLock>
          <div [appLeafBubble]="bubble" class="editting">This bubble is being editted by {{bubble.whoIsEditting()}}</div>
        </ng-template>
      </div>

      <!-- bottom border -->
      <div class="placeholder placeholder-bottom" appStopClickPropagation (click)="onClickEvent(bubble, menuType.borderBottomMenu, $event);">
        <app-bubble-menu *ngIf="isMenuOpen(bubble, menuType.borderBottomMenu)" class="action" [bubble]="bubble" [menu]="menuType.borderBottomMenu"></app-bubble-menu>
      </div>

    </ng-template>
  </div>
</ng-template>
