<div *ngIf="bubbleRootList">
    <div *ngFor="let bubble of bubbleRootList">
      <ng-container *ngTemplateOutlet="bubbleUnit; context: { $implicit: bubble }"></ng-container>
    </div>
</div>

<div *ngIf="isMultiBubbleMenuOpen()">
  <div class="btn-group">
    <button type="button" class="btn btn-info btn-sm" (click)="wrapBubbleEvent(); $event.stopPropagation()">
      <i class="fa fa-comments fa-fw"></i>
      Wrap Selected Bubbles
    </button>
  </div>
    <button type="button" class="btn btn-info btn-sm" (click)="cancelWrap(); $event.stopPropagation()">
      <i class="fa fa-times fa-fw"></i>
    </button>
</div>

<ng-template #bubbleUnit let-bubble>
  <div class="bubbleUnit">
    <div *ngIf="isInternal(bubble); then internal else leaf"></div>

    <ng-template #internal>
      <div *ngIf="isSingleMenuOpen(bubble, menuType.internalMenu)">
        <div [ngStyle]="setActionStyle(bubble)" class="action" >
          <app-bubble-menu (action)="bubbleAction($event)" [bubble]="bubble" [menu]="menuType.internalMenu"></app-bubble-menu>
        </div>
      </div>

      <div [ngStyle]="setBubbleStyle(bubble)" class="internalBubble" (click)="showMenuEvent(bubble, menuType.internalMenu, $event); $event.stopPropagation()">
        <div *ngFor="let childBubble of bubble.childBubbleList">
          <ng-container *ngTemplateOutlet="bubbleUnit; context: { $implicit: childBubble }"></ng-container>
        </div>
      </div>
    </ng-template>

    <ng-template #leaf>
      <div class="placeholder placeholder-top" (click)="showMenuEvent(bubble, menuType.borderTopMenu, $event); $event.stopPropagation()">
        <div *ngIf="isSingleMenuOpen(bubble, menuType.borderTopMenu)">
          <div [ngStyle]="setActionStyle(bubble)" class="action" >
            <app-bubble-menu (action)="bubbleAction($event)" [bubble]="bubble" [menu]="menuType.borderTopMenu"></app-bubble-menu>
          </div>
        </div>
      </div>

      <div class="leafBubble" (click)="showMenuEvent(bubble, menuType.leafMenu, $event); $event.stopPropagation()">

        <div *ngIf="isSingleMenuOpen(bubble, menuType.leafMenu)">
          <div [ngStyle]="setActionStyle(bubble)" class="action" >
            <app-bubble-menu (action)="bubbleAction($event)" [bubble]="bubble" [menu]="menuType.leafMenu"></app-bubble-menu>
          </div>
        </div>

        <div class="hvr-reveal" innerHtml="{{bubble.content}}"></div>

      </div>

      <div class="placeholder placeholder-bottom" (click)="showMenuEvent(bubble, menuType.borderBottomMenu, $event); $event.stopPropagation()">
        <div *ngIf="isSingleMenuOpen(bubble, menuType.borderBottomMenu)">
          <div [ngStyle]="setActionStyle(bubble)" class="action" >
            <app-bubble-menu (action)="bubbleAction($event)" [bubble]="bubble" [menu]="menuType.borderBottomMenu"></app-bubble-menu>
          </div>
        </div>
      </div>

    </ng-template>
  </div>
</ng-template>
