.rootBubble {
  background-color: #efefef;
  border-radius: 10px;
  padding: 2px;
}

.rootBubble:hover {
  background-color: white;
  border: none;
}

.internalBubble {
  border-left-color: transparent;
  border-left-style: solid;

  border-right-color: transparent;
  border-right-style: solid;

  border-radius: 6px;
}

.internalBubble:hover {
  border-left-color: rgb(157, 172, 255);

  border-right-color: rgb(157, 172, 255);
}

.leafBubble {
  border-radius: 0px;
  padding: 0px 2px;
  margin: 0px 0px;

}

::selection {
  background: #fff2a8;
}
::-moz-selection {
  background: #fff2a8;
}


.placeholder {
  padding: 3px 0px;
}

.action {
  display: flex;
  float: right;
  position: absolute;
  z-index: 10;
}

.placeholder-bottom:hover {
  border-top-color: grey;
  border-top-style: solid;
  border-top-width: 1px;
}

.placeholder-top:hover {
  border-bottom-color: grey;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.bubbleUnit {
  background-color: transparent;
  border-radius: 2px;
}

.editting {
  background-color: gray;

}
