<div class="view-board">
    <tabset [justified]="true">
        <tab>
            <ng-template tabHeading>
                View
            </ng-template>
            <app-bubble-list-view [rootBubble]="rootBubble" [bubbleList]="bubbleList">
                Your bubbles are Loading ...!
            </app-bubble-list-view>
        </tab>
        <tab>
            <ng-template tabHeading>
                Preview
            </ng-template>
            <app-preview [rootBubble]="rootBubble" [bubbleList]="bubbleList">
                Your preview is Loading ...!
            </app-preview>
        </tab>
    </tabset>
</div>
