.erase-style {
  box-sizing: none !important;
  line-height: inherit !important;
  height: inherit !important;
  outline: inherit !important;
  overflow-y: none !important;;
  padding: inherit !important;
  tab-size: inherit !important;
  -moz-tab-size: inherit !important;
  text-align: inherit !important;
  white-space: inherit !important;
  word-wrap: inherit !important;
}

.tab-head {
    height: 15px;
    font-size: 15px;
}
