<tabset [justified]="true" type="pills">
    <tab>
        <ng-template tabHeading>
            <div class="tab">
                View
            </div>
        </ng-template>
        <div class="container">
            <app-bubble-list-view
                [board]="board"
                [rootBubble]="rootBubble"
                [bubbleList]="bubbleList"
                [selectedBubbleList]="selectedBubbleList"
                [hoverBubbleList]="hoverBubbleList"
                [userId]="userId"
                [selectedMenu]="selectedMenu">
                Your bubbles are Loading ...!
            </app-bubble-list-view>
        </div>

    </tab>
    <tab>
        <ng-template tabHeading>
            <div class="tab">
                Preview
            </div>
        </ng-template>
        <app-preview [rootBubble]="rootBubble" [bubbleList]="bubbleList">
            Your preview is Loading ...!
        </app-preview>
    </tab>
</tabset>
