<p-tabView>
  <p-tabPanel header="View">
    <app-bubble-menu></app-bubble-menu>
    <div class="ui-g">
      <div class="ui-g-8 ui-md-offset-1 list-group-item">
        <app-bubble-list-view></app-bubble-list-view>
      </div>
      <div class="ui-g-2 ui-md-offset-1">
        Button menu here
      </div>
    </div>
  </p-tabPanel>



  <p-tabPanel header="Preview">
      <ng-template pTemplate="content">
         <app-preview>
           Lazy Loading...
         </app-preview>
      </ng-template>
  </p-tabPanel>
</p-tabView>
