<div *ngIf="bubble" >
    <div *ngIf="isLeaf(); then leaf else internal"></div>
    <ng-template #leaf>
      <div class="placeholder" (click)="showMenu(bubble, true)"></div>
      <div class="leafBubble">
      LeafNode content: {{getContent()}}
      </div>
      <div class="placeholder" (click)="showMenu(bubble, false)"></div>
    </ng-template>
    <ng-template #internal>
      <div [ngStyle]="setStyle()" class="internalBubble">
        <div *ngFor="let childBubble of children" >
          <app-bubble-detail-view [bubble]="childBubble" (openMenu)="showMenuChild($event)">
          </app-bubble-detail-view>
        </div>
      </div>
    </ng-template>
</div>
