<div *ngIf="bubble">
  <div [dragula]='"bag-one"'>
    <div *ngIf="isLeaf(); then leaf else internal"></div>

    <ng-template #leaf>
      <div class="leafBubble">
      LeafNode content: {{getContent()}}
      <hr>
      </div>
    </ng-template>
    <ng-template #internal>
      <div [ngStyle]="setStyle()" class="internalBubble">
        <div *ngFor="let childBubble of children" >
          <app-bubble-detail-view [id]="childBubble.id">
          </app-bubble-detail-view>
        </div>
      </div>
    </ng-template>
  </div>
</div>
