.internalBubble {
  border-left-color: black;
  border-left-style: solid;

  border-right-color: black;
  border-right-style: solid;

  border-radius: 10px;
}

.leafBubble {
  background-color: #f8f2f2;
  border-radius: 10px;
  padding: 5px;
  margin: 5px 0px;
}
