<div #bubbleUnit *ngIf="bubble" class="bubbleUnit">

  <div *ngIf="isInternal(); then internal else leaf"></div>

  <ng-template #internal>
    <div [ngStyle]="setStyle()" class="internalBubble">
      <div *ngFor="let childBubble of children">
        <app-bubble-detail-view [bubble]="childBubble" (openMenu)="propagateMenuEvent($event)"></app-bubble-detail-view>
      </div>
    </div>
  </ng-template>

  <ng-template #leaf>
    <div class="placeholder placeholder-top" (click)="showBorderMenuEvent(bubble, true)"></div>
    <div class="leafBubble" (click)="showBubbleMenuEvent(bubble)">
    {{getContent()}}
    </div>
    <div class="placeholder placeholder-bottom" (click)="showBorderMenuEvent(bubble, false)"></div>
  </ng-template>

</div>
