.list-group-item {
  margin-left: -20px;
  border-left-color: black;
  border-left-width: 3px;
  border-left-style: solid;

  margin-right: -20px;
  border-right-color: black;
  border-right-width: 3px;
  border-right-style: solid;

}

.leafBubble {
  margin-left: -20px;
  border-left-color: black;
  border-left-width: 3px;
  border-left-style: solid;

  margin-right: -20px;
  border-right-color: black;
  border-right-width: 3px;
  border-right-style: solid;
}
